#permissionModal {
  #textContent {
    font-size: 16px;
    color: black;
    display: block;
    margin: 30px 0 0 25px;
    .popup_title {
      font-size: 18px;
      color: $primary-color;
      display: block;
      margin-bottom: 25px;
      font-weight: bold;
    }
    .differ{
        color: $primary-color;
        font-size: 20px;
    }
  }
  .buttons{
      float: right;
      margin: 30px 10px;
      button{
        padding: 2px 25px;
        margin: 0 5px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: none;
      }
      .yes_btn{
          color: white;
          background-color: $primary-color;
      }
      .no_btn{
          color: black;
          background-color: $gray
      }
  }
}
