#subscriptionModal {
  .header_title {
    text-align: center;
    margin: 30px auto 40px;
    width: 180px;
    div {
      font-size: 28px;
      color: $primary-color;
    }
    span {
      font-size: 16px;
      border: 1px solid $primary-color;
      display: block;
    }
  }
  div.choose_plan {
    margin: 10px 10px 30px;
    .plan_cards {
      display: flex;
      justify-content: space-around;
    }
    .plan_card {
      border: 1px solid;
      border-color: transparent;
      background: #00000007;
      box-shadow: 0.2px 8px 6px -6px #00000050;
      .package {
        margin-top: 10px;
        div label {
          height: 8px;
          width: 8px;
          background: $primary-color;
          border-radius: 50%;
          position: relative;
          top: 8px;
        }
      }
      section {
        h5 {
          margin-bottom: -2px;
          color: $primary-color;
        }
        button {
          width: 100%;
          font-size: 12px;
          border-width: 1px;
          color: white;
          background: $primary-color;
          cursor: pointer;
          padding: 5px;
        }
      }
    }
    .plan_card:hover {
      box-shadow: none;
      border-color: $primary-color;
      button{
         color: black;
         background: transparent;
         border-color: $primary-color;

      }
    }
  }
}
.modal_width {
  min-width: 460px;
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
  .modal_width {
    max-width: 500px;
    margin: auto;
  }
  div.choose_plan {
    margin: 10px 10px;
    .h5 {
      margin: 0 10px 20px;
    }
    .plan_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .plan_card {
        width: 45%;
        margin-bottom: 10px;
        section {
          margin: 15px 20px;
          button {
            margin: 10px 0;
          }
        }
      }
      #lastCard {
        width: 95%;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (min-width: 575.99px) {
  .modal_width {
    max-width: 560px;
  }
  div.choose_plan {
    margin: 10px 10px;
    .h5 {
      margin: 0 0 30px 8px;
    }
    .plan_cards {
      display: flex;
      justify-content: space-around;
      .plan_card {
        width: 31%;
        height: 210px;
        .package {
          font-size: 14px;
        }
        section {
          margin: 10px 10px;
          button {
            margin: 20px 0 0;
          }
        }
      }
      #lastCard button {
        margin: 42px 0 0;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media only screen and (min-width: 991.98px) {
  .modal_width {
    max-width: 620px;
  }
  div.choose_plan {
    margin: 10px 10px;
    .h5 {
      margin: 0 0 30px 10px;
    }
    .plan_cards {
      display: flex;
      justify-content: space-around;
      .plan_card {
        width: 30%;
        section {
          margin: 15px 20px;
        }
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media only screen and (min-width: 1199.98px) {
}
